.onevenRijen {
    background-color: #CCC;
}
thead tr th {
    background-color: #AAA;
    padding: 5px;
}
tbody tr td {
    padding: 5px;
}
table tr:hover {
    background-color: #B3FF99;
}
.order {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: right;
}
.ascending {
    background-image: url(/SamSerrien/web-backend/public/img/icon-asc.png);
}
.descending {
    background-image: url(/SamSerrien/web-backend/public/img/icon-desc.png);
}
