<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        ul li{
            float: left;
            list-style: none;
            font-weight: bold;
            margin-left: 50px;
        }
        ul li a{
            text-decoration: none;
            font-size: 2em;
        }
        ul li a:hover{
            border-bottom: 2px solid #fff;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Buy Food</a></li>
        <li><a href="#">Buy BBQ</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</body>
</html>